{
  "extends": ["@acolorbright/stylelint-config"],
  "rules": {
    "declaration-property-value-whitelist": null,
    "media-feature-name-disallowed-list": [],
    "media-feature-name-value-allowed-list": {}
  }
}
