.favIcon{
  float: right
}
.genreItem{
  padding: 8px;
  position: relative;
  text-align: center;
  color: #fff;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .genreItem {
    grid-column-end: span 2;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .genreItem{
    grid-column-end: span 4;
  }
  }


.centerContent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
