.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 80px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {
  .grid {
    gap: 2%;
  }
}
